repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(src/|examples/)
      - id: ruff-format
        files: ^(src/|examples/)




